<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Player configuration settings">
	<meta name="author" content="Adamson Ibus">
	<title>Player settings</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" />
</head>
<body>
	
	<div class="container">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#">Conversar</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item active">
						<a class="nav-link" href="#">Hi {{session['username']}}</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/logout">Logout</a>
					</li>
				</ul>
			</div>
		</nav>
		<div class="card mt-4">
			<div class="card-header">
				Player settings
			</div>
			<div class="card-body">
				{% if error %}
					<div class="alert alert-danger" role="alert">
						{{ error }}
					</div>
				{% endif %}
				<form class="px-4 py-3" method="post" action="/settings">
					<div class="mb-3">
						<label class="form-label">Device ID:</label>
						<input type="text" readonly class="form-control" name="device_id" value="{{config['device_id']}}">
					</div>
					<div class="mb-3">
						<label class="form-label">Server Url:</label>
						<input type="text" class="form-control" name="server_url" value="{{config['server_url']}}">
					</div>
					<div class="mb-3">
						<label class="form-label">Player Url:</label>
						<input type="text" class="form-control" name="player_url" value="{{config['player_url']}}">
					</div>
					<div class="mb-3">
						<label class="form-label">Player Type</label>
						<input type="text" readonly class="form-control" name="player_type" value="{{config['player_type']}}">
					</div>
					<div class="mb-3">
						<label class="form-label">Stream Url</label>
						<input type="text" readonly class="form-control" name="stream_url" value="{{config['stream_url']}}">
					</div>
					<button type="submit" class="btn btn-primary">Save</button>
				</form>
			</div>
    </div>
  </div>
</body>
</html>